src/VehicleRental.API/bin
src/VehicleRental.API/obj
src/VehicleRental.Application/bin
src/VehicleRental.Application/obj
src/VehicleRental.Core/bin
src/VehicleRental.Core/obj
src/VehicleRental.Infrastructure/bin
src/VehicleRental.Infrastructure/obj
task.pdf
src/VehicleRental.TelemetrySimulator/obj
src/VehicleRental.TelemetrySimulator/bin/Debug/net8.0
src/VehicleRental.TelemetrySimulator/bin/Debug/net8.0
src/VehicleRental.TelemetrySimulator/bin/Debug/net8.0
tests/VehicleRental.IntegrationTests/obj/Debug/net8.0
tests/VehicleRental.UnitTests/obj/Debug/net8.0
tests/VehicleRental.UnitTests/bin/Debug/net8.0
tests/VehicleRental.UnitTests/obj
tests/VehicleRental.IntegrationTests/bin/Debug/net8.0
