src/VehicleRental.API/bin/Debug/net8.0
src/VehicleRental.Application/obj/Debug/net8.0
src/VehicleRental.Application/obj/Debug/net8.0
src/VehicleRental.Application/obj/Debug/net8.0
src/VehicleRental.Application/obj/Debug/net8.0
src/VehicleRental.API/bin/Debug/net8.0
src/VehicleRental.API/obj/Debug/net8.0
src/VehicleRental.Application/obj/Debug/net8.0
src/VehicleRental.Core/bin/Debug/net8.0
src/VehicleRental.Core/obj/Debug/net8.0
src/VehicleRental.Infrastructure/bin/Debug/net8.0
src/VehicleRental.Infrastructure/obj/Debug/net8.0
