src/VehicleRental.API/bin
src/VehicleRental.API/obj
src/VehicleRental.Application/bin
src/VehicleRental.Application/obj
src/VehicleRental.Core/bin
src/VehicleRental.Core/obj
src/VehicleRental.Infrastructure/bin
src/VehicleRental.Infrastructure/obj
